<div class="barra">
    <div class="overBonito">
        About
    </div>
    <div class="overBonito">
        Products
    </div>
    <div class="overBonito">
        overflow
    </div>
    <div class="overBonito">
        overflow
    </div>
    <div class="overBonito">
        overflow
    </div>
    <img class="lnXdpd" alt="Google" height="92" src="/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" srcset="/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png 1x, /images/branding/googlelogo/2x/googlelogo_color_272x92dp.png 2x" width="272" data-csiid="1" data-atf="1">
    
</div>


<button (click)="cliquei()">Teste</button>

<a href="https://www.google.com/"  target="_blank">teste</a>